

.lWCh {
    z-index: 1!important;
}
.lWCh:last-child {
    border-bottom: 1px solid rgba(0,0,0,.125)!important;
}

.title {
    text-decoration: none;
    color:black;
}

@media only screen and (max-width: 576px) {
    .listWrap {
        margin: 0px!important;
        font-size: 12px
    }
    .btns {
        margin: 0px!important;
    
    }
    .upd {
        padding: 0px!important;
        font-size: 12px;
    }
    .del {
        font-size: 12px;
    }
}