* {
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box !important;
  
}

.culmn {
    z-index: 0!important;
}

.author {
    font-size: smaller;
    /* color: #6c757d!important; */
    font-weight: 300;
    color: black!important;
    
}
.crd {
  margin-top: 8px;
  /* height: 55vh; */
  border-left: 0;
  border-right: 0;
  position: relative;
  text-decoration: none;
  color: black;
}
.wrapper {
  margin-top: 8px;
}
@media only screen and (max-width: 576px) {
  .crd {
    height: auto;
    /* margin-bottom: 16px; */
    
    
  }
  .wrapper {
    margin-bottom: 20px;
    margin-top: 0;
  }
}
@media only screen and (min-width: 577px) {
  .crd {
    height: 47vh;
  }
  .wrapper {
    margin-bottom: 20px;
  }
}