* {
    box-sizing: border-box;
    z-index: 100;
}
/* .link {
    text-decoration: none;
    color : black;
    width: 100%;
} */


nav {
    height: 59px;
    
    
}
nav.font {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.navColor {
    background-color: whitesmoke!important;
    margin-right: 12px;
    margin-left: 12px;
    /* text-align: center!important; */
}
.menu {
    z-index: 3;
    background-color: whitesmoke!important;
    opacity: 0.83;
    padding-left: 48px;
    padding-right: 48px;

}
.cursor {
    cursor: pointer;
}


/* button {
    width: 100%;
    border: none;
    background-color: whitesmoke;
} */
/* .list {
    position: relative;
    background-color: whitesmoke;
    height: 59px;
    
} */
/* .fillItems {
    position:  absolute;
    left: 0;
    width: 100%;
    top: 59px;
}
.fillItems li {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
} */
/* nav ul li { */
    /* width: 240px; */
    /* width: auto; */
/* }  */

@media (max-width: 576px) {
    ul li {
      width: 100%!important;
    }
    .menu {
        padding-left: 0;
        padding-right: 0;

    }
    .cont {
        padding-left: 0;
        padding-right: 0;
    }
   
}
