* {
    box-sizing: border-box;
    z-index: 0;
}
.link {
    text-decoration: none;
    color : black;
    width: 100%;
}
nav {
    height: 59px;
}
nav.font {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.navColor {
    background-color: whitesmoke!important;
}
.menu {
    z-index: 3;
    background-color: whitesmoke!important;
    opacity: 0.83;
}
button {
    width: 100%;
    border: none;
    background-color: whitesmoke;
}
.list {
    position: relative;
    background-color: whitesmoke;
    height: 59px;
    
}
.fillItems {
    position:  absolute;
    left: 0;
    width: 100%;
    top: 59px;
}
.fillItems li {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}
nav ul li {
    width: 240px;
}

@media (max-width: 576px) {
    .menu {
      z-index: 3!important;
    }
   
}
